@font-face{
	font-family: 'pixel';
	src: url('../fonts/web fonts/silkscreen_normal_macroman/slkscr-webfont.eot');
	src: url('../fonts/web fonts/silkscreen_normal_macroman/slkscr-webfont.eot') format('eot'),
	     url('../fonts/web fonts/silkscreen_normal_macroman/slkscr-webfont.woff') format('woff'),
	     url('../fonts/web fonts/silkscreen_normal_macroman/slkscr-webfont.ttf') format('truetype'),
	     url('../fonts/web fonts/silkscreen_normal_macroman/slkscr-webfont.svg') format('svg');
}

body {
	position: relative;
	background-color: #F3F2F3;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

h1 {
	font-size: 52px;
	font-family: 'Overpass', sans-serif;
	color: #037034;
}

.navbar-fixed nav {
	background-color: #2C3331;
	border: 0;
	color: #F3F2F3;
	padding: 0 25px;
}

.brand-logo {
	color: #F3F2F3 !important;
  background-image: url('../images/mw-alt-logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: inherit;
  width: 75px;
}

.right.hide-on-med-and-down ul li:hover {
	background-color: #037034;
	color: #F3F2F3 !important;
}

.collapse.navbar-collapse ul li a:hover {
	color: #F3F2F3 !important;
}

#home {
	padding-top: 0px;
}

#about {
	height: 100vh;
	padding-top: 50px;
}

#contact {
	height: 25vh;
}

nav ul a:hover {
	color: #037034;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #04A34B;
	color: #037034;
}

.hero {
  background-image: url('../images/mw-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	color: #037034;
}

.hr-container {
	background-color: #F3F2F3;
	color: #037034;
}

hr {
	height: 1px;
	background-color: #D7B15F;
	margin: 0;
	opacity: 0.7;
}

#about {
	background-color: #F3F2F3;
}

#contact {
	background-color: #F3F2F3;
}

table {
  border-spacing: 0;
}

.table--cell {
  height: 10px;
  width: 10px;
  border: 1px solid rgba(244, 242, 244, 0.05);
  transition: all 0.25s ease-in-out;
}

.size--input {
  margin: 15px;
}

.button-container {
	position: absolute;
	top: 63vh;
	left: 8.5%;
	transform: translateX(-50%);
	transition: all 0.2s ease-in;
}

.start--button {
  font-family: 'pixel';
  font-size: 18px;
}

.stop--button {
  font-family: 'pixel';
  font-size: 18px;
}

.alive {
  background: #f3f2f3;
  border: 1px solid #f3f2f3;
  box-shadow: 2px 2px 5px #2C3331;
  transition: all 0.1s ease-in-out;
}

.btn-floating, .btn {
	color: #1A3D3D;
	background-color: #f3f2f3;
	transition: all 0.2s linear;
}

.btn-floating:hover {
	color: #05BA89;
	background-color: #f3f2f3;
}

.btn:hover {
	color: #05BA89;
	background-color: #f3f2f3;
}

.fixed-action-btn .btn-floating.btn-large i.material-icons.section-navigation {
	color: #1A3D3D;
	transition: all 0.2s linear;
}

.fixed-action-btn .btn-floating.btn-large i.material-icons.section-navigation:hover {
	color: #05BA89;
}

.fixed-action-btn ul li a.btn-floating i.material-icons.section-scroll {
	color: #1A3D3D;
	transition: all 0.2s linear;
}

.fixed-action-btn ul li a.btn-floating i.material-icons.section-scroll:hover {
	color: #05BA89;
}

.active .btn-floating.btn-large i.material-icons.section-navigation {
	color: #05BA89;
	transition: all 0.2s linear;
}

.work-container .col {
	padding: 0;
}

.work-container .col img {
	width: 32.95vw;
}

.contact--container {
	height: 100%;
	text-align: center;
}

.contact--icons {
	display: flex;
  align-content: space-around;
  justify-content: center;
  flex-flow: row wrap;
  height: 100%;
}

.contact--icons > i{
	color: #000;
	font-size: 50px;
}

.contact--icons > a > i{
	color: #000;
	font-size: 50px;
}

.footer--social {
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer--social > a {
	margin: 3% 3% 0;
}

.footer--social > a > span {
	color: #000;
	font-size: 36px;
}

.flex--container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.work-container > div.flex--container > .col {
	margin: 25px;
}

.flex--container > .col > img {
	width: 100%;
	cursor: pointer;
}

.flex--container > .col > img:hover {
	
}

@media all and (min-width: 1400px){
	.button-container {
		top: 45vh;
	}
}
